


<ul style="background: gray; padding: 1rem">
  <% list.forEach(function(item) { %>
    <li><%= item.title %></li>
    <li><%= item.img %></li>
    <li><%= item.genres %></li>
    <li><%= item.released %></li>
    <li><%= item.status %></li>
    <li><%= item.otherName %></li>
    <li><%= item.totalEpisodes %></li>
  <% }); %>
</ul>